db
incremental_db
simulation
timing
output_files
*.jdi
*.pof
*.sld
*.rpt
*.summary
*.sof
*.done
*.pin
*.qws
*.bak
*.smsg
*.qws
*.vcd
*.qqq
*.jic
*.map
*.qqq
.qsys_edit
greybox_tmp
undo_redo.txt
PLLJ_PLLSPE_INFO.txt
c5_pin_model_dump.txt
de0/bios.mif
tb
obj_dir
tb.log
sd.img
out
*.com
*.mp4
*.o
*.lst
/core.v
/bios.bin
/bios.hex